<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1><%= title %></h1>

    <%- include("../partials/errors.ejs") %>

    <form method="POST" action="/add-folder">
      <p class="input-container">
        <label for="name">Folder Name:</label>
        <input type="text" name="name" id="name" />
      </p>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
