<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1>Upload File to <%= folder.name %> Folder</h1>

    <h2>Select a file to Upload</h2>
    <p>Max file size is 5MB</p>

    <form
      action="/folder/<%= folder.cuid %>/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        name="uploaded_file"
        accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
      text/plain, application/pdf, image/*"
      />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
